body{
    height: 100%;
}
 
* {
    padding: 0;
    margin:0;
}

.logo{
    line-height: 50px;
}

.logo>img{
    margin: 5px;
    float: left;
}

.searchbar > input{
    width:30%;
    height:30px;
    line-height: 30px;
}


.navbar{
    float:right;
}

.navbar-row{
    height:50px;
    background-color: #2ec4b6;
}

.navbar > span{
    float:left;
    display:inline-block;
    margin:0px 10px 0px 10px;
    border-radius:5px;
    height:50px;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:80px;
    text-align: center;
}

.navbar>span>a{
     color:gray;
     text-decoration: none;
}

.body-container{
    margin-left:calc(100%*1/12);
     margin-right:calc(100%*1/12);
}

.editor-container{
 display: block;
    height:100vh;
    width:100%;
}

.footer-container{
    width: 100%;
    height: 100px;
    bottom:0px;
    background-color: #2ec4b6;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-lg-3{
    vertical-align: top;
    display:table-cell;
    width: calc(100%*4/12);
    height:auto;
    padding:10px;
}

.right-col-img{
    width: 100%;
}

.col-lg-6{
     vertical-align: top;
    display: table-cell;
    width: calc(100%*8/12);
    height: auto;
    padding:10px;
}

.decoration{
    display: block;
    width:80%;
    text-align: center;
     display: flex;
    flex-direction: column;
    justify-content: center;
background-color: #2ec4b6;
height:3px;
margin: 5px;
}


.post-row{
    display: inline-block;
width: 100%;
padding-top:20px;
}

.post-title{
display: block;
width:100%;
height:30px;
margin:5px auto;
}

.post-tag{
display: block;
width:100%;
height:30px;
margin:5px auto;
}

.post-date{
    display: block;
height:30px;
margin-bottom:5px ;
}

.tags{
    display: table-cell;
    background-color: gray;
    width:auto;
    height:35px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
     display: flex;
    flex-direction: column;
    justify-content: center;
}