body{
    height: 100%;
}
 
* {
    padding: 0;
    margin:0;
}

.logo{
    line-height: 50px;
}

.logo>img{
    margin: 5px;
    float: left;
}

.searchbar > input{
    width:30%;
    height:30px;
    line-height: 30px;
}


.navbar{
    float:right;
}

.navbar-row{
    height:50px;
    background-color: #2ec4b6;
}

.navbar > span{
    float:left;
    display:inline-block;
    margin:0px 10px 0px 10px;
    border-radius:5px;
    height:50px;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:80px;
    text-align: center;
}

.navbar>span>a{
     color:gray;
     text-decoration: none;
}

.body-container{
    margin-left:calc(100%*1/12);
    margin-right:calc(100%*1/12);
}

.user-info-container{
    display: inline-block;
    background-color: pink;
    width:100%;
    height:200px;
    margin:5px;
}

.user-info-left{
    display: inline-block;
    background-color: red;
    width:25%;
    height:200px;
    line-height: 200px;
}

.user-info-right{
    display: inline-block;
    width:75%;
    height:200px;
}

.user-basic-info{
     display: inline-block;
    background-color: purple;
    width:100%;
    height:150px;
}

.user-info-col{
    display: inline-block;
    background-color: blue;
    width:100%;
    height:50px;
}

.user-info-pic{
     height:200px;
    line-height: 200px;
}

.user-info-pic > img{
    display: block;
    width:150px;
    height:150px;
    border-radius:50%;
    margin:0 auto;
}


.row .col-lg-3>img{
  border: 0 none;
  display: inline;
  text-align: center;
  height: 100%;
  width:100%;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  max-width: none;
  
}

.user-post-container{
    margin-top:5px;
}

.browse-1{
    margin:60px;
}

.row{
    display: table;
    width: 100%; 
    table-layout: fixed; 
    border-spacing: 10px;
}
.col-lg-3{
    display: table-cell;
    background-color:grey; 
    width:300px;
    height: 300px;
    position: relative;
  overflow: hidden;
}

.footer-container{
    width: 100%;
    height: 100px;
    bottom:0px;
    background-color: #2ec4b6;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
