body,html{
    height: 100%;
}
 * {
     box-sizing: border-box;
     padding: 0;
    margin:0;
}

.logo>img{
    margin: 5px;
}



.navbar{
    float:right;
    margin-top: 5px;
}

.navbar>.row{
    z-index:-1;
    top:5px;
    position: absolute;
}

.navbar > span{
    float:left;
    display:inline-block;
    margin:0px 10px 0px 10px;
    border-radius:5px;
    height:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:80px;
    text-align: center;
}

.navbar>span>a{
     color:gray;
     text-decoration: none;
}

.color-bar{
    display: block;
    width:100%;
    height:50px;
    background-color:#2ec4b6;
}

.body-container{
    margin-left:calc(100%*1/12);
     margin-right:calc(100%*1/12);
}

.jumbotron{
    display: block;
   margin:calc(100%*1/12);
    height:100%;
    background-image: url("/img/cover-0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.search {
  width: 100%;
  position: relative;
  height: 100px;
  line-height: 100px;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 70px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 70px;
  height: 70px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
}

.black-block{
    width: 100%;
    height: 300px;
    background-color: rgba(1,1,1,0.5);
    position: absolute;

}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.row .col-lg-3>img{
  border: 0 none;
  display: inline;
  text-align: center;
  height: auto;
  width:100%;
  vertical-align: middle;
}

.browse-1{
    margin:60px;
}

.row{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.col-lg-3{
    display: table-cell;
    background-color:grey; /*Optional*/
}

.footer-container{
    width: 100%;
    height: 100px;
    bottom:0px;
    background-color: #2ec4b6;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jumbotron>.bg {
            width: 100%;
            height: 100%;
            background-size: cover;
            position: absolute;
            z-index: -1;
            opacity: 0;
            transition: opacity 1s;
}