<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
  <%- include('../partial/header', {title: "9EMBA-入口頁"}); %>
  <link rel="stylesheet" href="/css/landing-page.css">
</head>
<body class="landing-page">
  <section class="jumbotron banner-section">
    <div class="text-md-center text-white">
      <img src="/images/landing/logo.png" alt="">
      <h1 class="display-4 mt-5">9校EMBA聯盟交流分享平台</h1>
      <h3 class="lead">創造資訊 累積知識</h3>
      <p class="lead mt-5">
        <a class="btn btn-outline-primary btn-lg" href="/login" role="button">立即加入我們</a>
      </p>
    </div>
  </section>
  <section class="rib-bg-gray pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-sm align-middle">
          <h3 class="rib-color-green">資訊分享與交流 傳承再創新</h3>
          <p class="rib-color-gray-dark pt-3">
            專屬於EMBA的交流分享平台，</br>
            透過資訊分享促進EMBA聯盟成員間的連結、學習與傳承，</br>
            並整合連結9校EMBA，創造更多資訊及累積知識。
          </p>
        </div>
        <div class="col-sm">
          <img src="/images/landing/about圖@2x.png" class="w-100" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="gain-section pt-5 pb-5">
    <div class="container pb-5">
      <h3 class="rib-color-green text-sm-center">你可以有這些收穫！</h3>
      <div class="row pt-5">
        <div class="col-sm text-md-center">
          <div class="image-div rounded-circle mx-auto">
            <img src="/images/landing/1.jpg" class="h-100px" alt=""/>
          </div>
          <h5 class="rib-color-gray-dark mt-3">透過資訊交流 延續知識燃點價值</h5>
          <p class="rib-color-gray-light">
            藉由EMBA間資訊交流及分享，提供使用者更快速獲取EMBA間的活動訊息及相關文章，並籍由收藏累積知識創更多價值。
          </p>
        </div>
        <div class="col-sm text-md-center">
          <div class="image-div rounded-circle mx-auto">
            <img src="/images/landing/2.jpg" class="h-100px" alt=""/>
          </div>
          <h5 class="rib-color-gray-dark mt-3">提升EMBA間的情誼 拓展人脈網路</h5>
          <p class="rib-color-gray-light">
            透過知識的互動分享，增進各校EMBA間的情誼交流，拓展人脈網絡，累積社會資本的途徑。
          </p>
        </div>
        <div class="col-sm text-md-center">
          <div class="image-div rounded-circle mx-auto">
            <img src="/images/landing/3.jpg" class="h-100px" alt=""/>
          </div>
          <h4 class="rib-color-gray-dark mt-3">促進職場菁英交流 擴展合作商機</h4>
          <p class="rib-color-gray-light">
            跨領域的交流可以看見議題的多重面向，不僅能強化創新思維，更有機會媒合更多跨界合作商機，開創創業契機。
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="advice-section jumbotron">
    <div class="container">
      <div class="col text-white">
        <h3>執行長楊建民老師的黃金建議-</h3>
        <h5>“與其觀望，衡量得失，不妨勇敢一點，花兩年時間，學新知識、交到新朋友，絕對值得。”</h5>
      </div>
    </div>
  </section>
  <section class="do-section pt-5 pb-5">
    <div class="container">
      <h3 class="rib-color-green text-sm-center">你只需要這麼做！</h3>
      <h5 class="rib-color-gray-dark text-sm-center">簡單兩功能，快速上手</h5>
      <div class="row justify-content-md-center">
        <div class="col-md-4 col-12 text-center mt-5">
          <div class="mx-auto">
            <img src="/images/landing/文章圖@2x.png" class="h-100px" alt=""/>
          </div>
          <h5 class="rib-color-gray-dark mt-3">
            文章閱讀</br>
            並透過收藏功能互動
          </h5>
        </div>
        <div class="col-md-4 col-12 text-center mt-5">
          <div class="mx-auto">
            <img src="/images/landing/探索圖@2x.png" class="h-100px" alt=""/>
          </div>
          <h5 class="rib-color-gray-dark mt-3">
            快速tag 內容的相關資訊</br>
            簡單分類並輕鬆搜尋
          </h5>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-md-4 col-12 text-center mt-5">
          <div class="mx-auto">
            <img src="/images/landing/聊天室圖@2x.png" class="h-100px" alt=""/>
          </div>
          <h5 class="rib-color-gray-dark mt-3">
            結合社交</br>
            互動聊天室促進資訊交流
          </h5>
        </div>
        <div class="col-md-4 col-12 text-center mt-5">
          <div class="mx-auto">
            <img src="/images/landing/個人頁圖@2x.png" class="h-100px" alt=""/>
          </div>
          <h5 class="rib-color-gray-dark mt-3">
            建立個人品牌頁面</br>
            促進人際交流並累積收藏清單
          </h5>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-md-4 col-12 text-center mt-5">
          <div class="mx-auto">
            <img src="/images/landing/圈子圖@2x.png" class="h-100px" alt=""/>
          </div>
          <h5 class="rib-color-gray-dark mt-3">
            創建圈子</br>
            找尋志同道合的朋友
          </h5>
        </div>
        <div class="col-md-4 col-12 text-center mt-5">
          <div class="mx-auto">
            <img src="/images/landing/活動圖@2x.png" class="h-100px" alt=""/>
          </div>
          <h5 class="rib-color-gray-dark mt-3">
            創辦及加入活動</br>
            在活動中傳承與創新
          </h5>
        </div>
      </div>
    </div>
  </section>
  <section class="highlight-section rib-bg-gray pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-12">
          <img class="w-100" src="/images/landing/主打活動.jpg" alt="">
        </div>
        <div class="col-md-4 col-12 pt-5 pb-5">
          <h3 class="text-center rib-color-green">主打活動</h3>
          <h5 class="rib-color-gray-dark pt-3">
            <a href="http://9emba.com/social/events/58c2813f89357423fea2d7b9">
              <b>2017 EMBA商管聯盟高峰會元大盃校際個案分析賽</b>
            </a>
          </h5>
          <p class="rib-color-gray-light">元大盃個案賽，邀請國內EMBA商管聯盟學校，以國際標竿企業在哈佛或Ivey 發表的典範案例，進行分析競賽，期透過互相觀摩與學習，精進宏觀管理思維。</p>
          <a class="btn btn-outline-primary float-right" href="http://9emba.com/social/events/58c2813f89357423fea2d7b9" role="button">立即前往</a>
        </div>
      </div>
    </div>
  </section>
  <section class="shcool-logo-section">
    <div class="container">
      <div class="row justify-content-md-center pt-3 pb-3">
        <div class="col-md-2 col-6 text-center">
          <img src="/images/landing/9logo/7.jpg" class="h-120px" alt="">
          <p class="rib-color-gray-dark"><b>中山大學</b></p>
        </div>
        <div class="col-md-2 col-6 text-center">
          <img src="/images/landing/9logo/8.jpg" class="h-120px" alt="">
          <p class="rib-color-gray-dark"><b>中正大學</b></p>
        </div>
        <div class="col-md-2 col-6 text-center">
          <img src="/images/landing/9logo/9.jpg" class="h-120px" alt="">
          <p class="rib-color-gray-dark"><b>中央大學</b></p>
        </div>
        <div class="col-md-2 col-6 text-center">
          <img src="/images/landing/9logo/4.jpg" class="h-120px" alt="">
          <p class="rib-color-gray-dark"><b>中興大學</b></p>
        </div>
      </div>
      <div class="row justify-content-md-center pt-3 pb-3">
        <div class="col-md-2 col-6 text-center">
          <img src="/images/landing/9logo/5.jpg" class="h-120px" alt="">
          <p class="rib-color-gray-dark"><b>台灣科技大學</b></p>
        </div>
        <div class="col-md-2 col-6 text-center">
          <img src="/images/landing/9logo/6.jpg" class="h-120px" alt="">
          <p class="rib-color-gray-dark"><b>交通大學</b></p>
        </div>
        <div class="col-md-2 col-6 text-center">
          <img src="/images/landing/9logo/3.jpg" class="h-120px" alt="">
          <p class="rib-color-gray-dark"><b>成功大學</b></p>
        </div>
        <div class="col-md-2 col-6 text-center">
          <img src="/images/landing/9logo/2.jpg" class="h-120px" alt="">
          <p class="rib-color-gray-dark"><b>政治大學</b></p>
        </div>
        <div class="col-md-2 col-6 text-center">
          <img src="/images/landing/9logo/1.jpg" class="h-120px" alt="">
          <p class="rib-color-gray-dark"><b>清華大學</b></p>
        </div>
      </div>
    </div>
  </section>
  <section class="footer-section rib-footer-gray pt-2 pb-2">
    <div class="container">
      <div class="col">
        <p class="rib-color-gray-light text-center mb-0">© 2017 copyright embaalliance. All Rights Reserved.</p>
      </div>
    </div>
  </section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
